
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:before {
  content: '';
 
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: -1;
}

 .search {
  text-align: center;
  padding: 1rem;
  color:black;
}


 input {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 2px solid rgba(230, 11, 51, 0.8);
  background: rgba(255,255,255, 0.1);
  color: #0f3fb8;
  margin-left: 30px;
}

::placeholder {
  color: #f8f8f8;
}
.temp{
  margin-top: 100px;
  color:#adcdd1;
  display:flex;
  margin-left:240px;
  
  text-decoration-style:bold;
}       

.container {
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.error{
  text-align:center;
  color:red;
  font-size: 50px;
  
  background-color: blueviolet;
  height:100%;
   background: url('./weather.jpg') no-repeat center  center/cover; 

}

.top {
  width: 100%;
  margin: 1rem auto;
  
}
.location{
  font-size: 3rem;
  color:black;
  margin-top: 10px;
  margin-left: 40px;
  
}

  

 .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(98, 92, 148, 0.315);
  margin-bottom: 200px;
  font-size: 33px;
  color:white;
  margin-left: 40px;
  /* border: 2px solid blueviolet; */
}

.bold {
  font-weight: 700;
}
.icon{
  font-size: 50px;
}
.description {
  position: relative;
  
 

  margin-right: -1400px;
   /* transform-origin: 1 1;  */
  transform: rotate(269deg); 
  font-size: 3rem;
  color: #3a86ff;
  margin-top: -90px;
}
.App{
  height:100vh;
  overflow:hidden;
}
.webicon{
  margin-bottom:30px;
}
.main-image{
  background: url(today3.jpg) no-repeat center  center/cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* overflow-x: hidden; */
}
@media screen and (max-width: 1500px) {
  .description {
    margin-right: 0; /* Reset margin-right */
    transform: rotate(0); /* Reset transform */
    font-size: 2rem; /* Adjust font size */
    color: #000; /* Change color if needed */
    margin-top: 10px; /* Adjust margin-top */
    font-size: 70px;
    color:#a9def9;
    /* Add any other responsive styles as needed */
  }
  .temp{
    margin-top: 100px;
    color:#1b4965;
    text-align: center;
    margin-left:120px;
    
    text-decoration-style:bold;
  }       
  .bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 12px;
    background-color: rgba(98, 92, 148, 0.315);
    margin-bottom: -40px;
    font-size: 33px;
    color:white;
    margin-left: 40px;
    /* border: 2px solid blueviolet; */
  }
}
@media screen and (max-width: 1500px) {
  .bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 12px;
    background-color: rgba(98, 92, 148, 0.315);
    margin-bottom: -40px;
    font-size: 33px;
    color:white;
    margin-left: 40px;
    /* border: 2px solid blueviolet; */
  }

}

